.container {
  display: flex; /* Utilise Flexbox */
}
body {
  font-family: "Roboto", sans-serif; /* Police d'ecriture */
  text-align: justify; /* texte justifié */
}

h1 {
  text-align: center; /* Alignement du texte au centre */
}

.center {
  width: 60%; /* Largeur de la div (80% de la largeur de la page) */
  margin-left: 20%; /* Marge de 10% à gauche */
  margin-right: 20%; /* Marge de 10% à droite */
}

.left-div,
.right-div {
  border: 1px solid #ccc; /* Facultatif : ajoute une bordure pour visualiser les divs */
  padding: 10px; /* Facultatif : ajoute de l'espace à l'intérieur des divs */
}

.right-div {
  width: 60%; /* Divise l'espace en deux */
}

.left-div {
  background-color: #194682;
  color: white;
  width: 30%; /* Réduisez la largeur à 15% */
  display: flex; /* Utilisez Flexbox */
  flex-direction: column; /* Alignez le contenu verticalement */
  justify-content: space-between; /* Espacez le contenu verticalement pour qu'il prenne toute la place */
  padding: 10px; /* Ajoutez de l'espace intérieur pour éviter le débordement du contenu */
}

img.profil {
  width: 10em;
  border-radius: 50%; /* Rend l'image arrondie en utilisant un rayon de 50% */
}

li {
  list-style-type: none; /* Suppression des points dans la liste */
  margin-left: 1em;
}

div.photo {
  list-style-type: none; /* Suppression des points de la liste */
  margin: 0;
  padding: 0;
  text-align: center; /* Alignement du texte au centre */
}

li.para {
  list-style-type: disc; /* Ajout des points dans la liste */
}

span.date {
  color: #224d86; /* Couleur de texte bleu pour la date*/
}

a:link {
  color: black; /* Couleur du texte pour les liens non visités */
  text-decoration: none; /* Supprime le soulignement */
}

a:visited {
  color: black; /* Couleur du texte pour les liens visités */
  text-decoration: none; /* Supprime le soulignement */
}

a:hover {
  color: #194682; /* Couleur du texte au survol */
  text-decoration: overline; /* Optionnel : Ajoute un soulignement au survol */
}

a:hover {
  background-color: grey; /* Couleur de surbrillance au survol */
}

a,
i {
  font-size: 1.5em; /* Définit la taille du texte des a et i */
}
